Options +FollowSymlinks
RewriteEngine On
RewriteBase /iplazany.com/

# This is for domain/index.php
RewriteRule ^index\.php$ - [L]

# This is required for passing requests properly for DBHandler
RewriteRule ^dbmanager$ /iplazany.com/_db_handler/index.php [L]
RewriteRule ^dbmanager/$ /iplazany.com/_db_handler/index.php [L]

# This redirects everything to index.php unless the file or directory exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /iplazany.com/index.php [L]