/* CSS Document */
*{font-family:arial;margin:0;padding:0;}
.error{color:#f00;}


.login button{width:100%;height:100%;}


.load{width:31px;height:31px;}
.loading{width:31px;height:31px;background:url(img/loading.gif) 0 0 no-repeat;}


/*
input[disabled="disabled"]{
	color:#000;
	background:transparent;
	border:none;
}*/

button, input[type="submit"] {
	padding:5px 10px;
	margin:5px 0px 25px;
}
td>button{
	margin:3px 5px;
}
a {
	text-decoration:none;
	color:#000;
}
a:hover{
	text-decoration:underline;
}
a.selected{
	font-weight:bold;
}
h1{
	font-size:24px;
	margin-bottom:10px;
}
.login td{
	width:160px;
	background:transparent;
	border:none;
}
.login input[type="text"]{
	width:160px;
}
.login input[type="password"]{
	width:160px;
}

#header{
	padding:10px 20px;
	position:relative;
	background:#ccc;
	border-bottom:1px solid #666;
}
#lang a{
	font-size:12px;
	padding:0 5px 0px 8px;
}
#lang a+a{
	border-left:1px solid #000;
}
#login{
	position:absolute;
	right:20px;
	top:10px;	
}
#nav{
	text-align:center;
}
#nav a{	
	padding:0 10px;
}
#nav a+a{
	border-left:1px solid #000;
}

#body{
	border:1px solid #666;
	background:#ddd;
	width:820px;
	margin:20px auto;
	position:relative;
}
#subnav{
	width:110px;
	position:absolute;
	top:20px;
	left:20px;
}
#subnav a{
	display:block;
}
#page{
	width:600px;
	padding:20px;
	margin-left:150px;
	border-left:1px solid #666;
}

#footer{
}


table {
	margin:20px 0px;
	width:600px;
}

.login table{
	padding:20px;
	margin:0 auto;
	width:340px;
}


td{
	background:#eee;
	padding:2px 5px;
	border:1px solid #bbb;
}
td img {
	width:50px;
	height:50px;
	padding:5px 3px 1px 3px;
}

input[type="text"],input[type="password"], .statictext{
	padding:2px 5px;
	width:250px;
}
.textfield-box{
	margin-bottom:5px;
}
.desc{
	font-size:14px;
	color:#666;
	margin-bottom:20px;
}
label{
	width:150px;
	padding:2px 5px;
	display:inline-block;
}
input[type="checkbox"]{
	padding:2px 5px;
}

textarea{
	width:100%;
	padding:10px;
}

