/* Globals */
* {
	margin:0;
	padding:0;
	font-family:arial;
	font-size:12px;
	line-height:16px;
	list-style:none;
	text-decoration:none;
	color:#888;	
}
body>h1 {
	font-size:16px;
	margin:20px;
}
table {
	padding:3px;
}
table, .list {
	background:#eee;
	margin-top:10px;
	border-radius:5px;
	border:1px solid #e5e5e5;	
}
thead {
	font-weight:bold;
}
td {
	padding:0px;
}
input {
	border:1px solid #d3d3d3;
}
input[type="button"], input[type="file"], input[type="submit"] {
	color:#09F;
	padding:0px 10px;	
	margin-left: 5px;
	cursor:pointer;
	border-radius:5px;
	background:#e5e5e5;
	margin-top:20px;
}
input[type="button"]:hover, input[type="file"]:hover, input[type="submit"]:hover {	
	background:#eee;
}
a {
	color:#09F;
}
a:hover {	
	background:#eee;
}



/* Page */
#content {
	margin:20px;
}
#content h1 {
	color:#09f;
}
#msg {
	margin:20px;
}
#loading {
	width:16px;
	height:11px;	
	margin:20px;
}



/* Class */
.loading {
	background:url(images/loading.gif) 0 0 no-repeat;
}
.error {
	color:#f00;
}
.alert {
	background:url(images/alert-16x16.png) 0 0 no-repeat;
	text-indent: 20px;
	color:#F80;
}
.alert-noicon {
	color:#f80;
}
.disabled {
	color:#aaa;
	background:inherit;
	cursor:default;
}


/* Specifics */
#add-new {
	margin-top:10px;
}
#dbtable input[type="text"] {
	width:200px;
}
.admintable input[type="text"] {
	width:265px;
}